body {
	display: flex;
	justify-content: center;
}

.container{
	background-color: #334d4d;
	border-radius: 20px;
	padding: 30px;
}

.display {
	width: 500px;
}

#displayError {
	background-color:red;
	width: 100%;
	height: 50px;
	border-radius: 20px;
	margin: auto;	
	font-size: 50px;
	color: #000000;
	text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
	display: none;
}

#inputField{
	background-color:darkorange;
	width: 100%;
	height: 100px;
	border-radius: 20px;
	margin: auto;	
	font-size: 50px;
	color: #000000;
	text-align: center;

}

table{
	background-color: #FFFFFF;
	margin: auto;
	margin-top: 30px;
	border-radius: 20px;
}

td{
	width: 110px;
	height: 60px;
	text-align: center;
	font-size: 30px;
	border: 1px solid black;
	border-radius: 20px;

}

.operator{
	color: #ff3300;
}

td:active{
	background-color: #e0e0d1;
	border-radius: 20px;
	background-color: chartreuse;
	cursor: pointer;
}